#section0 {
  margin-bottom: 10px;
}

#meme-image-container {
  height: 500px;
  width: 500px;
  background-color: white;
  border: black solid 1px;
  position: relative;
}

img {
  height: 500px;
  width: 500px;
}

#meme-text {
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  font-family: sans; color: white;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */

.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  /* padding-left: 20px; */
  padding-right: 20px;
}

/* https://www.w3schools.com/howto/howto_css_image_text_blocks.asp */
